asgiref==3.2.5
catfish==1.4.10
certifi==2018.8.24
chardet==3.0.4
cupshelpers==1.0
distro==1.3.0
distro-info==0.21
Django==3.1.9
idna==2.6
lightdm-gtk-greeter-settings==1.2.2
meld==3.20.0
mugshot==0.4.1
onboard==1.4.1
pdfarranger==1.1.1
pexpect==4.6.0
Pillow==5.4.1
pycairo==1.16.2
pycups==1.9.73
PyGObject==3.30.4
PyPDF2==1.26.0
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-debian==0.1.35
pytz==2019.3
pyudev==0.21.0
reportlab==3.5.13
requests==2.21.0
rpl==1.5.6
six==1.12.0
sqlparse==0.3.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==15.1.0
